# Archivos de configuración con credenciales
.env
env_config.txt
*.key
*.pem

# Entornos virtuales
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
